@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  transition: background 0.2s linear;
  position: relative; /* Adicionando position relative para permitir o position absolute no botão */
}

body.dark {
  background: #292c35;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: absolute; /* Alterando para position absolute para permitir o posicionamento personalizado */
  top: 20px; /* Distância do topo */
  right: 20px; /* Distância da direita */
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.logo{
    position: fixed;
    width: 100%;
    height: 70px;  
    top: 50px;
     
}

h1{
    color: #5B0B9B;
    width: 437px;
   height: 116px;
   font-size: 96px;
   font-weight: 700;
   line-height: 116px;
   letter-spacing: 0em;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
   font-weight: weight;
   font-style: normal;
   margin-left: 200px
}
.line1{
    margin-top: 290px;
    margin-left: 10px;
}
.line2{
    margin-top: 510px;
    margin-left: -870px;
}
.br{
    
        margin-top: 200px;
        margin-left: -70px;      
      
}

.eua{
    margin-top: 420px;
    margin-left: -50px;
}
.nome{
    background-color: #5B0B9B;
    color: #fafafa;
    position: fixed;
     bottom: 40px;
}
.intput{
    color: black;}